# Maven & Java
target/
*.class
*.jar
*.war

# IntelliJ & IDEs
.idea/
*.iml
.vscode/
bin/

# Kafka & Zookeeper (The "Big" Files)
data/
data/kafka/
data/zookeeper/
*.lock
checkpoint

# Logs & OS
*.log
.DS_Store
Thumbs.db